<%= stylesheet_link_tag "application", :media => "all" %>

<div class="parameter-panel">
<h3>
	Predict with Random Walk with Restart Algorithm
	<%= link_to image_tag("infoButton.png", :size => "24x24", 
											:class => "field-infobutton", 
											:data => { :url => tips_rwrh_path }),
											"http://bioinformatics.oxfordjournals.org/content/26/9/1219.short",
											:target => "_blank" %>
	<!-- The data path is auto constructed by rails -->
</h3>

<%= render 'parameter_form'%>

<%= render 'shared/enableTipScript'%>	<!--The page has info button, requiring qtip-->

</div>
