<!-- Load all results chunk into the page -->
<% unless @results.nil? %>
	$("#loading").remove();
	$("#prediction-results").empty();
	$("#prediction-results").attr( "data-result", "true" );
	$("#prediction-results").append("<h2>Prediction Results For</h2>");
	$("#prediction-results").append(
  		"<h4 style=\"margin-top: -15px;\"><a href=\"<%= "http://www.omim.org/entry/#{@disease.omim_id}" %>\" target=\"_blank\"><%= @disease.disease_name %></a></h4>");
	$("#all-results").append("<%=raw escape_javascript(render 'prediction_results', :collection => @results) %>");
<% end %>

<!-- Load overlapped results chunk into the page, but hidden at the first place -->
<% unless @overlapped_results.nil? %>
	$("#overlapped-results").append("<%=raw escape_javascript(render 'overlapped_prediction_results', :collection => @overlapped_results) %>");
	$("#overlapped-results").hide();
<% end %>