<div class="loading-panel vmiddle-major" id="loading">
<%= image_tag("loading.gif", :class => "loading") %>
<%= image_tag("loading-hint.gif", :class => "loading") %>
</div>

<div id="prediction-results" data-task-id="<%= @task_id %>"></div>