<!--No search result, retrieve the search box again-->
<div class="vmiddle-major">
	<h4>No OMIM entry matches your search term, please try another one.</h4><br />
	<%= render 'diseases/disease_search_form'%>
</div>