<!-- Search Result Layout page -->
<h2>Search Results</h2>

<% if @diseases.empty? %>
	<%= render 'no_search_result' %>
<% else %>
	<%= render 'shared/initial_colorbox' %>
	<%= render 'search_result' %>
<% end %>
