<div class="contact-box">
	Xiaoli Wu, 
	<%= link_to "xiaoliwu@jhmi.edu", "mailto:xiaoliwu@jhmi.edu"%>
	<br />
	Harold Lehmann, 
	<%= link_to "lehmann@jhmi.edu", "mailto:lehmann@jhmi.edu"%>
	<br />
	Hans Bjornsson,
	<%= link_to "hbjorns1@jhmi.edu", "mailto:hbjorns1@jhmi.edu"%>

</div>
