<div class="vmiddle-major">
<h1>MEbGDP</h1>
<h3>Multi-evidence based Gene-Disease Relationship Prediction<br/><br/><br/>
<%= render 'diseases/disease_search_form'%><br/><br/><br/><br/>
<%= render 'layouts/link_out'%>
</div>
