Click the button below will enable comparison of phenotype 
between the predicting human disease and animal models of this gene 
using semantic similarities comparison provided by 
<a href="http://phenomebrowser.net/index.html" target="_blank">PhenomeNet</a>.
<br /><br />
<i>
Robert Hoehndorf, Paul N. Schofield and Georgios V. Gkoutos. 
PhenomeNET: a whole-phenome approach to disease gene discovery. 
Nucleid Acids Research, 2011.
</i>
<br /><br />
<b>Click the InfoButton to learn more</b>