<div class="copyright">
© 2012, Xiaoli Wu <br />
<%= link_to "xiaoliwu@jhmi.edu", "mailto:xiaoliwu@jhmi.edu"%> <br />
<%= link_to "Division of Health Science Informatics", "http://dhsi.med.jhmi.edu", :target => '_blank' %>, 
<%= link_to "Johns Hopkins University School of Medicine", "http://www.hopkinsmedicine.org/", :target => '_blank' %><br />
</div>
