<table class="image-link" align="center"><tr>
	<td>
		<%= link_to image_tag('dhsi-logo.png', :size => "120x61"), 'http://dhsi.med.jhmi.edu/', :target => '_blank' %>
	</td>
	<td>
		<%= link_to image_tag('jhmi-logo.gif', :size => "120x80"), 'http://www.hopkinsmedicine.org/', :target => '_blank' %>
	</td>
</tr></table>